## Class

In [ ]:
# class
class human:
      # constructor
      def __init__(self, name, age, sex, height): # self refers to new instance that is being created.
          # instance variable (attribute)
          self.name = name
          self.age = age
          self.sex = sex
          self.height = height

      # method
      def greet(self):
          return print(f"Hello I am {self.name} and I am {self.age} years old {self.sex}. And, I am {self.height}.")

      def eat(self, food):
        return print(f"I am happy for the {food} from you. I am eating {food} ...")

In [ ]:
# new Instance of class human
name = input("Please enter human's name:")
age = input("Please enter human's age:")
sex = input("Please enter human's sex:")
height = input("Please enter human's height:")
human = human(name,age, sex, height)

Please enter your name:prajol
Please enter your age:27
Please enter your sex:male
Please enter your height:5 feet

In [ ]:
human.name

'prajol'

In [ ]:
# call greet method on prajol object
human.greet()

Hello I am prajol and I am 27 years old male. And, I am 5 feet.

In [ ]:
human.eat('sheep meat')

I am happy for the sheep meat from you. I am eating sheep meat ...

In [ ]:
import numpy as np
obs = np.empty(7,dtype=int)
print(obs)

[       55777584               0               0               0
               0               0 140548509794304]

In [ ]:
True + True + True # True = 1

3

## Enumerate function (built-in)

In [ ]:
#string,list,tuples,dict,sets ===> used for storing collections of items

#example 1 -- loop over a list and access both the index and the value of each item
word = 'apple'
for index, char in enumerate(word):
    print(char == 'p')

subjects = ['math', 'science', 'bio']
for index, value in enumerate(subjects):
    print(index, value)

#example 2 -- create a dictionary from a list, where the keys are the indices of the list and the values are the items in the list
list_to_dict = {index:value for index, value in enumerate(subjects)}
print(list_to_dict)

#example 3 -- modify a list by replacing each item with its index
my_list = ['apple', 'banana', 'cherry']
for index, _ in enumerate(my_list):
    my_list[index] = index
print(my_list)

False
True
True
False
False
0 math
1 science
2 bio
{0: 'math', 1: 'science', 2: 'bio'}
[0, 1, 2]

## map(built-in )

In [ ]:
#function in Python to apply a function to each element of a list

#example 1 -- Applying a function to every element of a list:
def square(x):
   return x**2

numbers =[1,2,3,4]
squared_numbers = list(map(square,numbers))
print(squared_numbers)

[1, 4, 9, 16]

In [ ]:
#example 2 -- Converting data types

def convert_to_int(string):
  return int(string)

string_numbers = ['1','2','3']
int_numbers = list(map(convert_to_int,string_numbers))
int_numbers

[1, 2, 3]

In [ ]:
#example 3 -- filtering a list

def is_even(x):
  return x % 2 == 0

numbers = [1,2,3,4,5,6]
even_numbers = list(filter(is_even,numbers))
even_numbers

[2, 4, 6]

In [ ]:
#example 4 -- combine two or more list
def add(x,y):
  return x + y

list1 = [1,2,3]
list2 = [4,5,6]
sums = list(map(add,list1,list2))
sums

[5, 7, 9]

In [ ]:
#example 5 -- generate sequence of values
def multiply_by_two(x):
  return x * 2

doubles = list(map(multiply_by_two, range(1,6))) #can be done with list, tuple, set
doubles

{2, 4, 6, 8, 10}

In [ ]:
# example 6 -- create dict
keys = ['a', 'b', 'c']
values = [1,2,3]

dictonary = dict(map(lambda x,y: (x,y), keys, values))
dictonary

{'a': 1, 'b': 2, 'c': 3}

In [ ]:
# example 7: create sets
def convert_to_uppercase(string):
  return string.upper()

words=['apple', 'banana', 'cherry']
uppercase_words = set(map(convert_to_uppercase,words))
uppercase_words

{'APPLE', 'BANANA', 'CHERRY'}

## Lambda



```
lambda functions are a concise way to
define small anonymous functions in Python,
 and they can be useful in many situations
 where you need to define a function "on the fly"
 for a specific purpose.
```

In [ ]:
#example 1 : basic lambda function
double = lambda x: x*2
double(5)

10

In [ ]:
#example 2: lambda with map()
numbers = [1,2,3,4,5]
squared_numbers = list(map(lambda x : x**2 , numbers))
squared_numbers

[1, 4, 9, 16, 25]

In [ ]:
#example 3: lambda with filter()
numbers = [1,2,3,4,5,6]
even_numbers_with_filter = list(filter(lambda x: x % 2 == 0, numbers))
even_numbers_with_map = list(map(lambda x: x % 2 == 0, numbers))

even_numbers_with_filter, even_numbers_with_map

([2, 4, 6], [False, True, False, True, False, True])

In [ ]:
# example 4: lambda with reduce()
from functools import reduce
numbers = [1,2,3,4,5,6]
product = reduce(lambda x,y : x*y, numbers)
product

720

In [ ]:
#example 5: lambda with sort

# Sort the list in ascending order and return None.

# The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
# order of two equal elements is maintained).

# If a key function is given, apply it once to each list item and sort them,
# ascending or descending, according to their function values.

# The reverse flag can be set to sort in descending order.
students =[('Alice',25),('Bob',20),('Charlie',30)]
students.sort(key = lambda x : x[1])
students

[('Bob', 20), ('Alice', 25), ('Charlie', 30)]

## Miscellaneous

In [ ]:
#iterate over two lists in parallel,
#filter some elements based on condition
#and calculate sum of remaining elements

#Two lists of numbers
list1 = [2,5,7,1,9,10]
list2 = [3,6,8,4,0,10]

# Loop over lists in parallel and filter out odd numbers
result = []
for i, (x,y) in enumerate(zip(list1,list2)):
    if x % 2 == 0 and y % 2 == 0:#check even numbers
       result.append(x*y)
       print(result)
       print(f"The {i}th item even, which is {x,y}")

# sum
total = sum(result)
print(total)

print(list(zip(list1,list2)))

[100]
The 5th item even, which is (10, 10)
100
[(2, 3), (5, 6), (7, 8), (1, 4), (9, 0), (10, 10)]

In [ ]:
#example 2

#two list of numbers
list1 = [1,2,3,4,5]
list2 = [6,7,8,9,10]

# filter out odd numbers
filtered_list1 = list(filter(lambda x: x%2 == 0, list1))
filtered_list2 = list(filter(lambda x: x%2 == 0, list2))

print(filtered_list1, filtered_list2)

#create a new list that contains products of the filtered elements
products = list(map(lambda x: x[0] * x[1],zip(filtered_list1,filtered_list2)))
products_with_list_comp = [x[0] * x[1] for x in zip(filtered_list1,filtered_list2)]
print(products)
print(products_with_list_comp)

#loop over product list and print each element
for i, product in enumerate(products):
  print(f"The {i}th  item is {product}")

[2, 4] [6, 8, 10]
[12, 32]
[12, 32]
The 0th  item is 12
The 1th  item is 32

In [ ]:
#list comprehension
[print(f"The {i}th product is {product}") for i,product in enumerate(map(lambda x : x[0] * x[1], zip(filtered_list1, filtered_list2)))]

The 0th product is 12
The 1th product is 32

[None, None]